<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<title>Vue Component</title>
</head>

<body>
	<a onclick="window.history.back()">Go back</a>
	<h3>Vue Component</h3>
	<section id="root">
		<ul>
			<!-- <li v-for='(vueTech, index) in vueEcosystem'>{{index}} - Vue technology: {{vueTech.tech}}</li> -->
			<li v-for='(vueTech, index) in vueEcosystem'>
				<!-- <vue-tech v-bind:tech='vueTech.tech'/></li> -->
				<vue-tech :id='vueTech.id' :tech='vueTech.tech'/></li> <!-- :tech es lo mismo que v-bind:tech -->
		</ul>
	</section>

	<script>
		Vue.component('vue-tech', {
			props: ['id','tech'],
			template: `
				<div> 
					<div>{{id}} - {{tech}} is a Vue Tech ✌🏻</div>
				</div>
			`
		})
		const app = new Vue({
			el: '#root',
			data: {
				vueEcosystem: [
					{ id: 1, tech: 'vue cli' },
					{ id: 2, tech: 'vue devtools' },
					{ id: 3, tech: 'vue loader' },
					{ id: 4, tech: 'vue router' },
					{ id: 5, tech: 'vuex (state management)' },
					{ id: 6, tech: 'nuxt (server side render)' },
				]
			}
		})

	</script>
</body>

</html>