*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

nav ul {
    background-color: #1210FF;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem;
}