<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://via.placeholder.com/60/000000/FFFFFF/?text=CertificaTIC.com" alt="CertificaTIC.org logo">
      </a>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <small>Your awesome dashboard</small>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            Richie Cedillo
          </div>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              <span class="icon"><i class="fas fa-user"></i></span>
              Profile
            </a>
            <a class="navbar-item">
              <span class="icon"><i class="fas fa-bug"></i></span>
              Report a bug
            </a>
            <a class="navbar-item">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              Sign out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <!-- main layout -->
    <div class="columns">
      <!-- left side (say hello) -->
      <div class="column is-4-tablet is-3-desktop is-2-widescreen">
        <aside class="menu">
          <p class="menu-label">Menu</p>
          <ul class="menu-list">
            <li>
              <a href="dashboard.html">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                Dashboard
              </a>
            </li>
            <li>
              <a href="books.html">
                <span class="icon"><i class="fas fa-book"></i></span>
                Books
              </a>
            </li>
            <li>
              <a href="customers.html">
                <span class="icon"><i class="fas fa-address-book"></i></span>
                Customers
              </a>
            </li>
            <li>
              <a href="orders.html">
                <span class="icon"><i class="fas fa-file-alt"></i></span>
                Orders
              </a>
            </li>

          </ul>
        </aside>
      </div>
      <!-- right side (dropdown period) -->
      <div class="column">
        <h2 class="title">
          <strong>Customers</strong>
        </h2>
        <!-- Summary -->
        <div class="columns is-multiline">
          <!-- content here -->
        </div>
      </div>
    </div>
  </section>
</body>

</html>